%title My Business Garage
%meta{:content => "", :name => "Description"}/
%meta{:content => "", :name => "Keywords"}/

%link{:href => asset_path('favicon.png'), :rel => "shortcut icon", :type => "image/x-icon"}/
%link{:href => asset_path('favicon.png'), :rel => "apple-touch-icon", :type => "image/jpeg"}/

%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
